1. Escribe un programa que calcule la suma de todos los elementos de una lista dada. La lista sólo puede contener elementos numéricos.

In [7]:
lista = [15, 25, 10, 50]
suma = 0
for numero in lista:
    suma += numero
print(suma)

100

2. Dada una lista con elementos duplicados, escribir un programa que muestre una nueva lista con el mismo contenido que la primera pero sin elementos duplicados. Para este ejercicio, no puedes hacer uso de objetos de tipo ‘Set’.
Python

In [11]:
Lista con duplicados = [1, 2, 2, 3, 4, 4, 4, 5, 1]
lista = []
for elemento in lista duplicados:
    if elemento not in lista:
        lista.append(elemento)
print(*lista)

SyntaxError: invalid syntax (2655163661.py, line 1)

In [ ]:
lista [1,3,4]
suma=0
for numero in lista

In [8]:
lista = [15, 25, 10, 50]
suma = 0
for numero in lista:
    suma += numero
print(suma)

100

In [16]:


"Lista_duplicados" = [1, 2, 2, 3, 4, 4, 4, 5, 1]
lista = []
for elemento in lista_duplicados:
    if elemento not in lista:
        lista.append(elemento)
print(*lista)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1909034138.py, line 1)